.content {
  margin-top: 50px;
}

.undecorated-link:hover {
  text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  background-color: #F7EDED;
}

.inventionsList {
  list-style: none;
  padding: 0;
}

.inventionsList li {
  width: 200px;
  height: 200px;
  overflow: hidden;
  font-size: 15px;
  float: left;
  padding: 10px;
  margin: 5px;
  line-height: 1.4;
  text-align: center;
  background-color: #F7F7F7;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 5px;
}

.otherInventionsList {
	box-shadow: 10px 10px 5px #888888;
	width: 200px;
	height: 200px;
	overflow: hidden;
	font-size: 15px;
	float: left;
	padding: 10px;
	margin: 5px;
	line-height: 1.4;
	background-color: #f5f5f5;
	box-sizing: border-box;
	color: #333;
	cursor: pointer;
	border: 1px solid #000000;
	border-radius: 5px;
  position: relative;
}

.myInventionsList {
	box-shadow: 10px 10px 5px #888888;
	width: 200px;
	height: 200px;
	overflow: hidden;
	font-size: 15px;
	float: left;
	padding: 10px;
	margin: 5px;
	line-height: 1.4;
	background-color: rgb(225, 239, 255);
	box-sizing: border-box;
	color: #333;
	cursor: pointer;
	border: 1px solid #000000;
	border-radius: 5px;
  position: relative;
}

.myGroupsHome {
	box-shadow: 10px 10px 5px #888888;
	width: 200px;
	height: 200px;
	overflow: hidden;
	font-size: 15px;
	float: left;
	padding: 10px;
	margin: 5px;
	line-height: 1.4;
	background-color: rgb(225, 239, 255);
	box-sizing: border-box;
	color: #333;
	cursor: pointer;
	border: 1px solid #000000;
	border-radius: 5px;
  position: relative;
}

.otherGroupsHome {
	box-shadow: 10px 10px 5px #888888;
	width: 200px;
	height: 200px;
	overflow: hidden;
	font-size: 15px;
	float: left;
	padding: 10px;
	margin: 5px;
	line-height: 1.4;
	background-color: #f5f5f5;
	box-sizing: border-box;
	color: #333;
	cursor: pointer;
	border: 1px solid #000000;
	border-radius: 5px;
  position: relative;
}

.myGroupsHome:hover {
	background-color: rgb(238, 255, 245);
}

.otherGroupsHome:hover {
	background-color: #FBFFEB;
}

.myInventionsList:hover {
	background-color: rgb(238, 255, 245);
}

.otherInventionsList:hover {
	background-color: #FBFFEB;
}

.inventionsList .inventor, .inventionsList .title {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  font-weight: bold;
}

.inventionsList .title {
  margin-top: 10px;
}

.inventionsList .name {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
}

.inventionsList .description {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  text-overflow: ellipsis;
  text-align: left;
  width: 100%;
}

.logo{
  background: url(../img/d01c1e2b.Logo.png);
  width: 87px;
  height: 23px;
  top: 10px;
  display: block;
  float: left;
  margin: 10px;
  margin-left: 0;
  padding-right: 3px;
}