<section class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-8" data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="article.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == article.user._id">
		<a class="btn btn-primary" href="/#!/articles/{{article._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>


    <br/>
    <br/>
    Content:
	<p class="lead" data-ng-bind="article.content"></p>

    <br/>
    <br/>
    Current Members:
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="member in article.members">
            <a href="/#!/email?article={{article._id}}">{{member.displayName}}</a>
    </ul>
    <br/>
    <br/>
    <small>
        <em class="text-muted">
            Invented on
            <span data-ng-bind="article.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="article.user.displayName"></span>
        </em>
    </small>
</section>