<section data-ng-controller="GroupController">
  <div class="jumbotron text-center">
    <div class="row">
            <span class="lead">
                Existing Groups
            </span>
      <button ng-click="go('/group', 'create')" class="btn btn-primary pull-right " data-ng-show="authentication.user">
				<span class="glyphicon glyphicon-plus"></span> New
      </button>
    </div>
    <div class="row">
      <div class="">
        <ul class="inventionsList">
          <li ng-click="go('/articles', invention._id)" ng-repeat="invention in inventions">
            <span class="name">{{invention.user.displayName}}</span>
            </br>
            <span class="description">{{invention.title}}</span>
            </br>
            </br>
            </br>
            <span class="description">{{invention.content}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>