<section data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
            <span class="lead header">
                Upcoming Activities
            </span>
      <button ng-click="go('/activities', 'create')" class="btn pull-right btn-primary " data-ng-show="authentication.user">
        <span class="glyphicon glyphicon-plus"></span> New
      </button>
    </div>
    <div class="row">
      <div class="">
        <ul>
          <li ng-class="getActivitiesClass(activity)" ng-click="go('/activities', activity._id)" ng-repeat="activity in activities | orderBy: '-eventDate'" popover="{{activity.title}}" popover-trigger="mouseenter">
            <span class="name">{{activity.title}}</span>
            </br>
            <span class="description"><b>When:</b> {{activity.eventDate | date:'MMM dd - h:mma'}}</span>
            </br>
            <span class="description"><b>Where:</b> {{activity.location}}</span>
            </br>
            <span class="description"><b>What:</b> {{activity.content}}</span>
						<br/>
						<b>Members:</b>  <span class="badge">{{activity.members.length}}</span>

          </li>
        </ul>
      </div>
    </div>
    </br>
    </br>
    <div style="width: 100%;height: 1px;background-color: #000000"></div>
    </br>
    </br>
    <div class="row">
            <span class="lead">
                Sportivity Groups
            </span>
      <button ng-click="go('/groups', 'create')" class="btn btn-primary pull-right " data-ng-show="authentication.user">
        <span class="glyphicon glyphicon-plus"></span> New
      </button>
    </div>
    <div class="row">
      <div class="">
        <ul>
          <li ng-repeat="group in groups" data-ng-class="getGroupsClass(group)" ng-click="go('/groups', group._id)"  popover="{{group.title}}" popover-trigger="mouseenter">
            <span class="name">{{group.title}}</span>
            </br>
            <span class="description">{{group.content}}</span>
						<br/>
						<b>Members:</b>  <span class="badge">{{group.members.length}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>