<section data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
            <span class="lead header">
                Upcoming Activities
            </span>
      <button ng-click="go('/activities', 'create')" class="btn pull-right btn-primary "
              data-ng-show="authentication.user">
        <span class="glyphicon glyphicon-plus"></span> New
      </button>
    </div>
    <div class="row">
      <div data-ng-class="getActivitiesClass(activity)" ng-click="go('/activities', activity._id)" ng-repeat="activity in activities | orderBy: '-eventDate'">
        <div class="info-data">
          <span class="glyphicon glyphicon-ok check-in" data-ng-if="showCheck(activity)"></span>{{activity.title}}
        </div>
        <hr style="border-top: solid 1px #A7A7A7; margin-bottom: 0"/>
        <div class="info-details"><b>Group:</b> {{activity.group.title}}</div>
        <div class="info"><b>When:</b> {{activity.eventDate | date:'MMM dd - h:mma'}}</div>
        <div class="info"><b>Where:</b> {{activity.location}}</div>
        <div class="info-activity" title="{{activity.content}}"><b>What:</b> {{activity.content}}</div>
        <div class="info-members">
          <b>Participants:</b>  <div class="badge">{{activity.members.length}}</div>
        </div>
        <div class="info-icon">
          <img src="/modules/sportivity/img/{{activity.group.type}}.png" class="group-icon" />
        </div>
      </div>
    </div>
    </br>
    </br>
    <hr style="border-top: solid 1px #A7A7A7; margin-bottom: 0"/>
    </br>
    </br>
    <div class="row">
            <span class="lead">
                Sportivity Groups
            </span>
      <button ng-click="go('/groups', 'create')" class="btn btn-primary pull-right " data-ng-show="authentication.user">
        <span class="glyphicon glyphicon-plus"></span> New
      </button>
    </div>
    <div class="row">
      <div data-ng-class="getGroupsClass(group)" ng-click="go('/groups', group._id)" ng-repeat="group in groups">
        <div class="info-data">
          <span class="glyphicon glyphicon-ok check-in" data-ng-if="showCheck(group)"></span>{{group.title}}
        </div>
        <hr style="border-top: solid 1px #A7A7A7; margin-bottom: 0"/>
        <div class="info-content" title="{{group.content}}">{{group.content}}</div>
        <br/>
        <div class="info-members">
          <b>Members:</b>  <div class="badge">{{group.members.length}}</div>
        </div>
        <div class="info-icon">
          <img src="/modules/sportivity/img/{{group.type}}.png" class="group-icon" />
        </div>
      </div>
    </div>
  </div>
</section>