<section data-ng-controller="ActivityController">
	<div style="border: solid 1px"></div>
  <div class="jumbotron text-center">
    <div class="row">
            <span class="lead header">
                Upcoming Activities
            </span>
      <button ng-click="go('/activities', 'create')" class="btn pull-right btn-primary " data-ng-show="authentication.user">
				<span class="glyphicon glyphicon-plus"></span> New
      </button>
    </div>
    <div class="row">
      <ul>
        <li ng-class="getActivitiesClass(activity)" ng-click="go('/activities', activity._id)" ng-repeat="activity in activities | orderBy: '-eventDate'">
          <span class="name">{{activity.title}}</span>
          </br>
          <span class="description"><b>Group:</b> {{activity.group.title}}</span>
          </br>
          <span class="description"><b>When:</b> {{activity.eventDate | date:'MMM dd - h:mma'}}</span>
          </br>
          <span class="description"><b>Where:</b> {{activity.location}}</span>
          </br>
          <span class="description"><b>What:</b> {{activity.content}}</span>
        </li>
      </ul>
    </div>
  </div>
</section>