<section class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-8" data-ng-controller="GroupController"
         data-ng-init="findOne()">
  <div class="page-header">
    <h1 data-ng-bind="group.title"></h1>
  </div>

	<div class="pull-right" data-ng-show="authentication.user._id != group.user._id && authentication.user != undefined">

			<a ng-if="!imInGroup" class="btn btn-primary" data-ng-click="join();" popover="Join to Group" popover-trigger="mouseenter">
			Join
		</a>
		<a ng-if="imInGroup" class="btn btn-danger" data-ng-click="removeFromGroup();" popover="Remove from Group" popover-trigger="mouseenter">
			<i class="glyphicon glyphicon-trash"></i>
			Remove
		</a>
	</div>

	<div class="pull-right" data-ng-show="authentication.user._id == group.user._id">
		<a class="btn btn-primary" href="/#!/groups/{{group._id}}/edit" popover="Edit Group" popover-trigger="mouseenter">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();" popover="Delete Group" popover-trigger="mouseenter">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
  </div>
  <br/>
  <br/>
  Content:
  <p class="lead" data-ng-bind="group.content"></p>

  <br/>
  <br/>
  Current Members:
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="member in group.members">
      <a href="/#!/email?group={{group._id}}">{{member.displayName}}</a>
  </ul>
  <br/>
  <br/>
  <small>
    <em class="text-muted">
      Invented on
      <span data-ng-bind="group.created | date:'mediumDate'"></span>
      by
      <span data-ng-bind="group.user.displayName"></span>
    </em>
  </small>

</section>